/* Reset default margin and padding */
body, h1, h2, p, div {
  margin: 0;
  padding: 0;
}

/* Set a default font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  color: black;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
}

img {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
}

.content {
  padding: 25px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.sejarah {
  background-color: lightblue;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px;
}

.isi {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .gambar {
    height: 200px;
  }

  .content {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 20px;
  }

  .gambar {
    height: 150px;
  }

  .content {
    padding: 5px;
  }

  .content h2 {
    font-size: 20px;
  }

  .sejarah {
    font-size: 16px;
  }

  .footer {
    font-size: 12px;
  }
}
